.idea
InputGen/inputs
cmake-build-debug
build-Server-Desktop*
AI/QTAI/build-ai-Desktop_Qt_5_13_0_MinGW_32_bit-Debug
Server/Server.pro.use*
inputs.zip
inputs


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app